<div>
    <h1>Welcome to Thimble</h1>
    <form method="get" action="/">
          <lable>username</lable>
          <input type="text" name="username" />
          <br/>
          <lable>password</lable>
          <input type="password" />
          <br/>
          <button type="submit">submit</button>
<div/>